# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*
pids/
*.pid
*.seed
*.pid.lock

# Diretórios de build
dist/
build/
out/

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Prisma
dev.db
*.sqlite
prisma/migrations/
prisma/dev.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Sistema
.DS_Store
Thumbs.db

# Testes e cobertura
coverage/
*.lcov

# Outros
*.bak
*.swp
*.tmp
